<div class="pimg4">
    <div class="ptext">
        <span class="border ">
            Contact
        </span>
    </div>
</div>

<section id="contact_me" class="  text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-4">
                    <div class="card-body">
                        <h4>Get More Info</h4>
                        <p>If a conformation email is not received within two days please call</p>
                        <h3>
                            <fa name="envelope" size="2x"></fa>
                        </h3>
                        <p>Sheba@outlook.com</p>
                        <h3>
                            <fa name="tty" size="2x"></fa>
                        </h3>
                        <p>1(347)-489-4152</p>
                        <h3>
                            <fa name="instagram" size="2x"></fa>
                        </h3>
                        <a href="">
                            <p>Sheba</p>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center"> Enter Your Information</h3>
                        <hr>
                        <form name="sentMessage" id="contactform" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" id="name" class="form-control" placeholder="First Name">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" id="lname" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="Email" id="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" id="phone" class="form-control" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" cols="30" rows="10">

                                             </textarea>
                                    </div>
                                </div>
                                <div id="success"></div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-outline-secondary btn-block">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>