<div class="pimg5">
    <div class="ptext">
        <span class="border">
            Event's
        </span>
    </div>
</div>


<section class="section section-dark">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                </p>
            </div>
            <div class="col-md-5">
                <img src="./assets/img/art/trees.jpg" class="featurette-image img-fluid mx-auto" height="500px" width="500px" alt="Generic placeholder image">
            </div>
        </div>



        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading"> oh yeah</h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam earum sequi odio possimus sapiente quam laboriosam culpa ab obcaecati! Neque?</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="./assets/img/art/beach.jpg" alt="" class="featurette-image img-fluid mx-auto " height="500px" width="500px">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                </p>
            </div>
            <div class="col-md-5">
                <img src="./assets/img/art/brown.jpg" class="featurette-image img-fluid mx-auto" height="500px" width="500px" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

    </div>
</section>

<div class="pimg7">
    <div class="ptext">
        <span class="border ">
            Follow Me
        </span>
    </div>
</div>


<section class="section section-light">
    <h2 class="py-4"> Instragram</h2>
    <div class="container">
        <h2 class="py-4"> Follow Me </h2>
        <div class="col-md-12">
            <div id="instafeed" class="instaimg row gallery">

            </div>
        </div>
    </div>
</section>