body,
html {
    height: 98%;
    margin: 0%;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.8em;
    color: #666;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5,
.pimg6,
.pimg7 {
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
}

.pimg1 {
    background-image: url(./assets/img/instagram.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

.pimg2 {
    background-image: url(./assets/img/in.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

.pimg3 {
    background-image: url(./assets/img/gram.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 95%;
}

.pimg4 {
    background-image: url(./assets/img/gram.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    min-height: 100%;
}

.pimg5 {
    background-image: url(./assets/img/artist.PNG);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: grayscale;
    min-height: 95%;
}

.pimg6 {
    background-image: url(./assets/img/brush.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 95%;
}

.pimg7 {
    background-image: url(./assets/img/gram.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    min-height: 95%;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.nav-item {
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
}

.nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.instaimgimg:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
}

a:hover {
    color: #666;
}

.puke {
    background-image: url(./assets/img/brush.jpg);
}