<div class="pimg1">
    <div class="ptext">
        <span class="border d-none d-md-inline">
         Sheba Empowerment
        </span>
    </div>
</div>

<section class="section section-dark">
    <h2>She's (B)etter After it (A)ll</h2>
    <p> " She's Better After it All " Is not just a concept, it is not just an idea or a saying that sounds good enough to set as a statues or share for a quick emotional bandage for a wound. It is the reality of a lifestyle that we must take on and make
        our our own it is the peices that have been picked up not by choice but because they where the only things left of a life we once knew. It is the truth that Life does not come wrapped with a bow and tie. It Does not come with all the bells and
        whistles as we would like it too. Often it comes with bumps and bruise, many that will change our lives for the better or the worse. Finding the strength that is needed to pick up these peices and start a new once again after it has all fallen
        apart. It is by no means simple or easy and every broken peice bears a scare of its own. For we all have our fair share of challenges no one is exempt. Life throws you to and frow like a boat on the sea and your left without a sense of direction
        or a sense of being. When the pain is no longer their and you've had to become a big girl and whipe all your tears. Years down the line you realize she'e not broken she's not dead. You Realize SHEBA She's Better After It all.
    </p>
</section>

<section class=" my-5">
    <div class="container ">
        <div class="row">
            <div class="col-md-4 mb-5">
                <img class="rounded-circle " src="./assets/img/love.jpg" height="250px" width="300px" alt="">
                <h2 class="card-title">Heal</h2>
                <p class="card-text">Lorem ipsum dolor sit amet.</p>
                <!-- <p class="card-footer">Lorem ipsum dolor sit amet.</p> -->
            </div>
            <div class="col-md-4">
                <img class="rounded-circle " src="./assets/img/woman.jpg" height="250px" width="300px" alt="">
                <h2 class="card-title">Rebuild</h2>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt maiores rem dolores</p>
                <!-- <p class="card-footer">Lorem ipsum dolor sit amet.</p> -->
            </div>
            <div class="col-md-4">
                <img class="rounded-circle " src="./assets/img/blue.jpg" height="250px" width="300px" alt="">
                <h2 class="center">Grow</h2>
                <p class="card-text">Lorem ipsum dolor sit amet.</p>
                <!-- <p class="card-footer">Lorem ipsum dolor sit amet.</p> -->
            </div>
        </div>
    </div>
</section>

<section class="section section-light">
    <h2> Waste Nothing </h2>
    <p> Among Other things, Other gifts, other talents. God has granted me the gift of expression through Art which took a life and soared to new heights even as Sheba-Empowerment came into being. So Not only am i a Professional speaker, i am also an Artist
        " Works of My Paws " These are emotions, feeling and aspirations brought to life in color. The most beautiful forms of expression can be found in art of all forms. Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe accusantium labore
        nam neque beatae quae culpa iste atque doloribus vitae officiis voluptatibus officia alias, pariatur dicta necessitatibus est sed cum molestiae repudiandae? Optio, dolorum nostrum eaque corporis sint excepturi hic modi alias ex sed quidem molestias
        eos repellat laborum beatae obcaecati! Molestiae veritatis, cumque totam fugit adipisci numquam dignissimos id, temporibus consequatur fugiat veniam dolorum maxime, cupiditate natus dolores! Porro, deserunt? Facilis animi, laudantium maiores nobis
        illum architecto magni error, inventore officiis, harum in recusandae at eum exercitationem tenetur! Repudiandae hic eum voluptate rerum dolore repellat voluptatibus assumenda, asperiores animi provident eaque eveniet accusamus, qui recusandae
        odio magni, accusantium reprehenderit explicabo id nesciunt deleniti alias nam tenetur consequuntur? Non voluptates ut ipsa nesciunt repudiandae nisi? </p>
</section>

<div class="pimg5">

</div>