<div class="pimg2">
    <div class="ptext">
        <span class="border">
            Works Of My Paw
        </span>
    </div>
</div>

<section class="section section-light">
    <div class="container">
        <h2 class="my-5 center"> Soaps</h2>
        <div class="row">
            <div *ngFor="let soap of soap" class="col-md-4 my-2">
                <img class="rounded-circle" [src]="soap.image" height="250px" width="250px" alt="Card image">
                <h2 class="card-title">{{soap.soapName}}</h2>
                <p class="card-text">{{ soap.description}}</p>
                <p class="card-footer">{{soap.soapSize}}</p>
            </div>
        </div>
    </div>
</section>

<div class="pimg6">
    <div class="ptext">
        <span class=" border trans">
            Artwork
        </span>
    </div>
</div>

<section class="section section-light ">
    <div class="row">
        <div *ngFor="let art of art" class="col-md-4 my-2">
            <img class="rounded-circle " [src]="art.image" height="250px" width="250px" alt="Card image cap">
            <h2 class="card-title">{{art.artName}}</h2>
            <p class="card-text">{{ art.description}}</p>
            <p class="card-footer">{{art.artSize}}</p>
        </div>
        <img [src]="image" alt="">
    </div>
    <!-- <p>Sheba is the Den Leader of SHeBA Women’s Empowerment Group which stands for She’s Better After it ALL. She lives it, eats it, sleeps it, laughs it ummm oh, and dances it. Its her life. She believes that she was born to empower women. Her life is orchestrated
        to do just that, literally everywhere she goes. She was born a leader but groomed to be a GREAT one, there is no such thing as a self-made womb-man, right? She understands that SHE IS because other women (and men) invested into to her with absolute
        (sometimes VERY annoying but NECESSARY) truth AND unconditional love. It would dishonor them by not being what they were to her to someone else (many others actually). Sheba is nothing more than a creative creator. She was blessed with creativity
        in order to create (produce, if you will). Other than empowerment, she educates. Just kidding, they’re actually the same thing. One of her favorite quotes is, “To empower is to educate and to educate is to empower.” If it relates to Education,
        its SHeBA. Bottom line. She is a Coach, Mentor, Entrepreneur, Author (1st Children’s book published in January 2020), Humanitarian and Anthropologist. She paints, writes music and poetry and SINGS like those damn 3 little birds pitch by the doorstep.
        She works closely with Youth too, one day looking to launch a mentorship program. Overall and in all, SHeBA will be the first to tell you that she loves God and doesn’t apologize or dumb her love and respect down for anyone. She also absolutely
        loves and adores people. Finally, she has always wanted her legacy to be unconditional love, therefore everything she does stems from such place.
    </p> -->
</section>



<section class="section section-light">
    <h3 class="py-4"> Sizes </h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam animi tempore officiis doloremque velit accusantium commodi cum necessitatibus distinctio, possimus nisi? Aut voluptatum, nostrum autem praesentium nihil repudiandae molestiae unde
        doloremque eligendi magni porro commodi mollitia, dolor ea cum doloribus iste voluptatibus modi beatae consequuntur optio distinctio, officia a! Nemo quibusdam rem delectus expedita ipsum porro pariatur, quos vel obcaecati odit in reprehenderit
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="rounded-circle" src="./assets/img/soap/square.jpg" height="300px" width="300px" alt="">
                <p class="card-title">Small</p>
            </div>
            <div class="col-md-4">
                <img class="rounded-circle" src="./assets/img/soap/kit.jpg" height="300px" width="300px" alt="">
                <p class="card-title">Medium</p>
            </div>
            <div class="col-md-4">
                <img class="rounded-circle" src="./assets/img/soap/slice.jpg" height="300px" width="300px" alt="">
                <p class="card-title">Large</p>
            </div>
        </div>
    </div>
</section>