<footer class="section-dark text-center footer-nav py-4">
    <div class="container">
        <div class="row ">
            <div class="col-md-4">
                <ul>
                    <li>
                        <h2>Navigation </h2>
                    </li>
                    <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/" class="h5">Home</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/shop" class="h5">Shop</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/events" class="h5">Events</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/contacts" class="h5">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">

                <ul>
                    <li>
                        <h2>Social Media</h2>
                    </li>
                    <li><a href='/Angels/cat/id/70' class="h5">Facebook</a></li>
                    <li><a href='https://twitter.com/shebaaempowers' class="h5">Twitter</a></li>
                    <li><a href='https://www.instagram.com/shebaaempowers/' class="h5">Instagram</a></li>
                    <!-- <li><a href='/Ladies-Accessories/cat/id/117' class="h5" target="_blank">Pintrest</a></li> -->
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li><a href='/shop/about-contact' class="h5" itemprop="significantLink">Contact</a></li>
                    <li><a href='/faq.html' class="h5" itemprop="significantLink">FAQ</a></li>

                </ul>
            </div>
        </div>

        <!-- <section class="py-3">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <h2>
                        CONNECT WITH ME
                    </h2>
                </div>

                <div class="col-md-6 mx-auto social">
                    <a href="https://www.pinterest.com/paviliongift/" class="generic-anchor" target="_blank" title="Pinterest" itemprop="significantLink"><i class="fa fa-pinterest"></i></a>
                    <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
                    <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
                    <a href="https://plus.google.com/+Paviliongift/posts" class="generic-anchor" target="_blank" title="Google Plus" itemprop="significantLink"><i class="fa fa-google-plus"></i></a>

                </div>
            </div>
        </section> -->


        <section class="footer-bottom-section row">
            <div class="h4">
                <i class="fa fa-copyright" role="copyright">

      </i> 2020 Sheba Empowerment <address class="footer-address" role="company address "> Brookyln, NY</address><span class="footer-bottom-rights"> - All Rights Reserved - </span>
            </div>
            <div class="h4 mx-auto">
                <a href="/terms-of-use.html" class="generic-anchor" rel="nofollow">Terms</a> | <a href="/privacy-policy.html" class="generic-anchor" rel="nofollow">Privacy</a>
            </div>
        </section>

    </div>
</footer>